h1 {
    font-size: 64px;
    text-align: center;
    color: #865ba2;
}

body {
    font-size: 24px;
    color: #4f4548;
}

h2 {
    color: #865ba2;
}

h3 {
    color: #865ba2;
}

footer {
    color: grey;
}

