* {
    margin: 0;
}

h1 {
    margin-top: 150px;
    text-align: center;
    color: #ffde00;
}

div {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 250px;
    margin-right: 250px;
    margin-left: 250px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightblue;
}

.pokeText {
    text-align: center;
    color: #3b4cca;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: lightyellow;
}

#hp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: black;
    align-items: center;
    justify-content: center;
}

#status {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

#attack {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#attack:hover {
    color: red;
    cursor: pointer;
    transition: 0.5s;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #3b4cca;
    border: none;
}